main {
    background: linear-gradient(245.34deg, #003E7A 14.91%, #011545 87.03%);
}

.regis {
    background: url('../Reuseable/Globe.svg');
    background-repeat: no-repeat;
    background-position: 200px -20px;
    height: 160vh;
}

.regis-container {
    background: #272964;
    width: 81%;
    height: 112vh;
    margin: 30px auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 60px;
}

form {
    background: #fff;
    padding: 50px 30px;
    border-radius: 12px;
    height: 85vh;
}

form div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
}

form div label {
    margin-bottom: 8px;
    color: #272964;
    font-size: 13px;
}

form div input,
form div select {
    padding: 10px 13px;
    width: 25vw;
    background: #EAF0FF;
    border: none;
    border-radius: 4px;
}

form div select {
    padding-right: 20px;
}

form div input:placeholder-shown {
    color: #99AAB5;
}

form div select:placeholder-shown {
    color: #99AAB5;
}

.regis-now {
    background: #011545;
    border-top: 1px solid #FFF5F8;
    height: 160vh;
}

.batch {
    width: 80%;
    margin: 30px auto 160px auto;
    position: relative;
}

.batch h1 {
    color: #00AEFF;
    font-size: 55px;
    max-width: 50vw;
    word-spacing: 3px;
}



.last-part {
    width: 80%;
    margin: 40px auto;
    max-width: 24vw;
}

.last-part h1 {
    font-weight: bold;
    font-size: 31px;
}

.curly-sec1 {
    position: absolute;
    transform: rotate(12deg) scale(.9);
    top: 10px;
    left: -150px;
}

.curly-sec2 {
    position: absolute;
    transform: scale(.9) rotate(-8deg);
    left: 700px;
    top: 32px;
}

@media (max-width: 1024px) {
    .curly-sec1 {
        transform: rotate(12deg) scale(.7);
        left: -132px;
    }

    .last-part {
        max-width: 80vw;
    }
}

@media (max-width: 768px) {
    form div input,
    form div select {
        width: 40vw;
    }

    .batch h1 {
        max-width: 70vw;
    }

    .curly-sec1 {
        transform: rotate(28deg) scale(.7);
        left: -117px;
    }
}

@media (max-width: 425px) {
    .regis-container {
        padding: 30px 30px;
        width: 100%;
    }

    form div input,
    form div select {
        width: 70vw;
    }

    .curly-sec1 {
        display: none;
    }

    .batch {
        margin: 30px auto 75px auto;
    }

    .batch h1 {
        font-size: 30px;
    }

    .last-part h1 {
        font-size: 17px;
    }
}

@media (max-width: 375px) {
    .regis-container {
        padding: 30px 17px;
    }

    form div input,
    form div select {
        width: 75vw;
    }

    .last-part h1 {
        font-size: 15px;
    }

    .batch h1 {
        max-width: 90vw;
    }
}

@media (max-width: 320px) {
    .regis-container {
        padding: 30px 9px;
    }
}