main {
    background: linear-gradient(245.34deg, #003E7A 14.91%, #011545 87.03%);
}

.re {
    background: url('../Reuseable/Globe.svg');
    background-repeat: no-repeat;
    background-position: 200px -20px;
}